apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: winit
  labels:
    app: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080  # Accessible at http://<node-ip>:30080
    protocol: TCP
    name: http
  selector:
    app: frontend

